#────────── database───────────────────────────
# Regular work
NEXT_PUBLIC_SUPABASE_URL=https://fakeprojectid.supabase.co
## secret
SUPABASE_SERVICE_ROLE_KEY=eyFakeJwtTokenHereForServiceRoleKey.12345.abcde

#────cloud─────────────────────────────────────
CLOUDINARY_API_SECRET=fake_cloudinary_api_secret #db pass
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_CLOUD_NAME=fakecloudname
CLOUDINARY_FILE=CMS

# ─── Google OAuth & NextAuth ─────────────────
GOOGLE_CLIENT_ID=1234567890-fakeclientid.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-fakeclientsecret12345
NEXTAUTH_SECRET=fake_nextauth_secret_key_1234567890abcdef
NEXTAUTH_URL=http://localhost:3000

#────contact─────────────────────────────────────
EMAIL_USER=example@gmail.com
EMAIL_PASS=fake_app_password_1234

#────apify─────────────────────────────────────
APIFY_TOKEN=apify_api_fake_token_1234567890abcdef

#────n8n chatbot─────────────────────────────────────
NEXT_PUBLIC_WEBHOOKURL=https://your-instance.app.n8n.cloud/webhook/fake-uuid-1234/chat

#────Other─────────────────────────────────────
REVALIDATE_SECRET=
NEXT_PUBLIC_SITE_URL=
